/* #root {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
} */

html, body {
  min-height: 100%;
  /* background-color: #E6E2C3; */
  background-color: #EDDBC0;
}

body {
  margin: 0;
  padding: 0;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* .footer {
  background-color: rgb(225, 255, 0);
  bottom: 0;
  height: 5em;
  line-height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
} */

.header {
  align-items: center;
  /* background-color: #0fa36b; */
  background-color: #B73E3E;
  border-bottom: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 85px;
}

.searchBar {
  align-items: center;
  /* background-color: #0fa36a90; */
  background-color: #b73e3e58;
  border-bottom: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}

footer {
  align-items: center;
  /* background-color: #0fa36b; */
  background-color: #B73E3E;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}

.header button {
  background-color: transparent;
  border: none;
}

.recipeCard {
  color: black;
  align-items: center;
  /* background-color: #88a47c4f; */
  background-color: #DBC8AC;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-items: center;
  margin: 4px;
  width: 140px;
}

/* .recipeCard:active {
  background-color: #0fa36b;
} */

.recipeCard img {
  border-radius: 0 0 10px 10px;
  width: 140px;
}

.recipes {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.favRecipeCard {
  display: flex;
  /* background-color: #88a47c4f; */
  background-color: #DBC8AC;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: row;
  font-size: 12px;
  height: 150px;
  margin: 4px;
  width: 360px;
}

.recipeImg {
  border-radius: 10px 0 0 10px;
  width: 150px;
}

.recipe-data {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}