html, body {
  background-color: #eddbc0;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: auto;
}

h2 {
  color: black;
  font-size: 1.35em;
  margin-block: 0;
  padding: 5px;
  text-align: center;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.header {
  align-items: center;
  background-color: #b73e3e;
  border-bottom: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 85px;
}

.searchBar {
  align-items: center;
  background-color: #b73e3e58;
  border-bottom: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}

footer {
  align-items: center;
  background-color: #b73e3e;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid black;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}

.header button {
  background-color: transparent;
  border: none;
}

.recipeCard {
  align-items: center;
  background-color: #dbc8ac;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-between;
  justify-items: center;
  margin: 4px;
  min-height: 180px;
  width: 140px;
}

.recipeCard img {
  border-radius: 0 0 10px 10px;
  width: 140px;
}

.recipes {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.favRecipeCard {
  background-color: #dbc8ac;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 155px;
  margin: auto;
  margin-bottom: 6px;
  margin-top: 4px;
  width: 340px;
}

.recipeImg {
  border-radius: 10px 0 0 10px;
  width: 155px;
}

.recipe-data {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0.7;
  margin: auto;
  margin-block-end: inherit;
}

.login {
  align-items: center;
  background-color: #b73e3e;
  border: 2px inset black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 255px;
  justify-content: space-around;
  margin: auto;
  margin-top: 180px;
  width: 250px;
}

.login input {
  background-color: #eddbc0;
  height: 30px;
  width: 200px;
}

.login button {
  background-color: #eddbc0;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 120px;
}

.filterButtons button {
  background-color: #b73e3e58;
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
  margin: auto;
  margin-top: 4px;
  min-width: 100px;
}

.favRecipeCard button {
  background-color: #b73e3e58;
  border: 1px solid black;
  border-radius: 5px;
  height: 45px;
  margin-left: 2px;
  width: 45px;
}

.iconButtons {
  display: flex;
}

.filterButtons {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}
