html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.footer {
  background-color: rgb(225, 255, 0);
  bottom: 0;
  height: 5em;
  line-height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
}
